<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File deleted</title>
</head>

<body>
    <h1>FILE DELETED</h1>
    <p>SysAdmin- Not all superheroes wear cape. Some just use "sudo rm -rf"</p>
    <pre>
=======================================================

   _\\/|(/_
   >_   _ /
   (_)-(_)
    ) o (
    \ = /
     |W|
     | |
   __| |__
  / \ u / \
 |   `-'   |
 |__|   |__|
  |||ADM|||
  |||   |||
  |||   |||
  |||   |||
  |||   |||
  |||   |||
 /  |___/  \
 ||(|   \)||
  \\| | |//
    | | |
    | | |
    | | |
    | | |
    | | |
    ( ( |
    | | |
    | | |
    | | |
    | | |
    | | |
 ___[_[_]
/ /      \ 
\_\______/
=======================================================

</pre>
    <p></p>
    <p>Please close the window.</p>
</body>

</html>