<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gremlin</title>
</head>
<body>
<center>
<pre>
============================================

@      @
/ \     { _____}      / \
/  |  \___/*******\___/  |  \
(   I  /   ~   '   ~   \  I   )
\  |  |   0       0   |  |  /
\   |       A       |   /
\__    _______    __/
\_____________/
_-------*         *-------_
/  /---      VAX       ---\  \
/  /     (    System   )     \  \
{  (     (    Gremlin!   )     )  }
\  \    |               |    /  /
\  \  |               |  /  /
**** |               | ****
//|\\  \_____________/  //|\\
*         '*** ***'         *
***.       .*** ***.       .***
'*************' '*************'
============================================
</pre>
<p></p>
<p>Please close the window.</p>
</center>
</body>
</html>