<!DOCTYPE html>
<html>

<head>
    <title>Misc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://resource.mlbots.in/favicon/logo.png">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://resource.mlbots.in/css/basic.css">
    <script type="text/javascript">
    function paste() {
        navigator.clipboard.readText().then(function(data) {
            if (data.startsWith("+")) {
                document.getElementById('phone').setAttribute("placeholder", data);
            } else {
                if (isNaN(parseInt(data))) {

                } else {
                    document.getElementById('phone').setAttribute("placeholder", "+91" + String(parseInt(data)));
                }
            }

        })
    }
    </script>
</head>

<body style="overflow-x: hidden;" onload="paste()">
    <div class="title-my">
        <center>
            <h3>Machine Learning Bots</h3>
        </center>
    </div>
    <div>
        <!-- body -->
        <h4 class="text-muted" style="padding-left: 16px;padding-top: 20px;">Whatsapp API</h4>
        
        <div>
            <form style="padding-left: 16px;padding-top: 20px;" id="w-form" method="get" action="https://api.whatsapp.com/send">
                <p>Please enter the phone number along with contry code</p>
                <input type="tel" name="phone" id="phone" placeholder="Enter Number">
                <input type="submit" name="">
            </form>
        </div>
    </div>
    <!-- footer -->
    <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
        <footer>
            <div class="row my-5 justify-content-center py-5">
                <div class="col-11">
                    <div class="row ">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                            <h3 class="text-muted mb-md-0 mb-5 bold-text">ML Bots.</h3>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                            <ul class="list-unstyled">
                                <a href="/home" class="text-white">
                                    <li>Home</li>
                                </a>
                                <a href="/about" class="text-white">
                                    <li>About</li>
                                </a>
                                <a href="/blog" class="text-white">
                                    <li>Blog</li>
                                </a>
                                <a href="/portfolio" class="text-white">
                                    <li>Portfolio</li>
                                </a>
                                <a href="http://resource.mlbots.in" class="text-white">
                                    <li>resource</li>
                                </a>
                                <a href="http://localhost.net.in/" class="text-white">
                                    <li>localhost</li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>SUPPORT</b></h6>
                            <p class="mb-1">Kindly contact at <a href="" class="text-light">jayantabanik.ml@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                            <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Mlbots.in All Rights Reserved.</small>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                            <h6 class="mt-55 mt-2 text-muted bold-text"><b></b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> </small>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                            <h6 class="text-muted bold-text"><b><a href="" class="text-muted">Credits And Contacts</a></b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span></small>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>