# Node.js dependencies
node_modules/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/*
.idea/
*.swp
*.swo

# Miscellaneous
*.bak
*.tmp

# Build files (if applicable)
dist/
build/
